<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>562279960710-7t0u4iha88jr642hrfo66r8gopt0v681.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562279960710-7t0u4iha88jr642hrfo66r8gopt0v681</string>
	<key>API_KEY</key>
	<string>AIzaSyAv_cFt-9rwSka8CDc3aQCvSyhidEH8tBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>562279960710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tusharkatyal.Break-TIme</string>
	<key>PROJECT_ID</key>
	<string>breaktime-25891</string>
	<key>STORAGE_BUCKET</key>
	<string>breaktime-25891.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:562279960710:ios:c90a983fc9c14646</string>
	<key>DATABASE_URL</key>
	<string>https://breaktime-25891.firebaseio.com</string>
</dict>
</plist>